<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Places">

        <!--
          Файл ниже считывается Android Auto и дает ему понимание о возможностях нашего приложения.
          В данном случае о том, что мы используем Templates из  Car App Library. Также информация
          используется для настройки различного поведения по типу добавления приложения в лайнчер
          Android Auto и открытие его через нотификации.
       -->

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <activity
            android:name="com.example.places.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Places">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>